apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fictions-api-hpa
  namespace: fictions-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fictions-api
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80

