apiVersion: v1
kind: Service
metadata:
  name: fictions-api-service
  namespace: fictions-app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: fictions-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
      name: http

